<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load thumbnail %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>Brice's Blog</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Erwin Aligam - styleshout.com" />
<meta name="description" content="All kind of tips for django developper and fan of Rock Climbing." />
<meta name="keywords" content="css, html, python, rock climbing, photo, django,cascading, style, sheets, xhtml, web site" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL}}css/screen.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/ie6.css" media="screen" /><![endif]-->

<script type="text/javascript">
if(typeof jQuery == 'function'){
    $(document).ready(function() {
    {% block js_ready %}
    {% endblock %}
    });
}
</script>

</head>

<body>

<!-- wrap -->
<div id="wrap">

	<!-- header -->
	<div id="header">			
	
		<a name="top"></a>
		
		<h1 id="logo-text"><a href="index.html" title="">Debrice</a></h1>		
		<p id="slogan">Django, Python, Rock climbing, Photos, Los Angeles... </p>					
		
		<div  id="nav">
			<ul>
				<li {% ifequal current "home" %}id="current"{% endifequal %}><a href="{% url homepage %}">Home</a></li>
				<li {% ifequal current "tips" %}id="current"{% endifequal %}><a href="#">Tips</a></li>
				<li {% ifequal current "photos" %}id="current"{% endifequal %}><a href="{% url pictures_view %}">Photos</a></li>
				<li {% ifequal current "blog" %}id="current"{% endifequal %}><a href="#">Blog</a></li>
				<li {% ifequal current "archive" %}id="current"{% endifequal %}><a href="{% url article_archive_view %}">Archive</a></li>
				<li {% ifequal current "contact" %}id="current"{% endifequal %}><a href="#">Contact</a></li>
				<li {% ifequal current "about" %}id="current"{% endifequal %}><a href="#">About me</a></li>		
			</ul>		
		</div>		
		
		<!--p id="rss-feed"><a href="index.html" class="feed">Grab the RSS FEEd</a></p-->	
		
		<form id="quick-search" action="index.html" method="get" >
			<p>
			<label for="qsearch">Search:</label>
			<input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
			<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="{{ STATIC_URL}}images/search.png" />
			</p>
		</form>	
						
	<!-- /header -->					
	</div>
	{% block featured %}
    {% endblock featured %}
	
	<!-- content -->
	<div id="content-wrap" class="clear">
	
		<div id="content">		
			
			<!-- main -->
			<div id="main">	
			{% block main %}
		    {% endblock main %}
			<!-- /main -->	
			</div>

			<!-- sidebar -->			
			<div id="sidebar">
			{% block sidebar %}
							
				<div class="sidemenu">	
					<h3>Sidebar Menu</h3>
					<ul>				
						<li><a href="index.html">Home</a></li>
						<li><a href="index.html#TemplateInfo">TemplateInfo</a></li>
						<li><a href="style.html">Style Demo</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="archives.html">Archives</a></li>
						<li><a href="http://www.styleshout.com/">More Free Templates</a></li>	
						<li><a href="http://www.4templates.com/?aff=ealigam">Premium Templates</a></li>							
					</ul>	
				</div>
							
				<div class="sidemenu">
					<h3>Sponsors</h3>
					<ul>
						<li><a href="http://themeforest.net?ref=ealigam">ThemeForest</a><span>Your Choice for Site Templates, Wordpress, Joomla and CMS Themes</span></li>
						<li><a href="http://www.4templates.com/?aff=ealigam">4templates</a><span>Low Cost Hi-Quality Templates</span></li>
						<li><a href="http://store.templatemonster.com?aff=ealigam">TemplateMonster</a><span>Delivering the Best Templates on the Net!</span></li>
						<li><a href="http://tinyurl.com/3cgv2m">Text Link Ads</a><span>Monetized your website</span></li>
						<li><a href="http://www.fotolia.com/partner/114283">Fotolia</a><span>Free stock images or from $1</span></li>
						<li><a href="http://www.dreamhost.com/r.cgi?287326">Dreamhost</a><span>Premium webhosting</span></li>
					</ul>
				</div>		
				
				<h3>Image Gallery </h3>					
				
				<p class="thumbs">
				    {% for thumb in thumbs %}
                    {% thumbnail thumb.file 40x40 crop upscale as thumbnail %}
					<a title="{{ thumb.title }}" href="{{ thumb.get_absolute_url }}"><img src="{{ thumbnail }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" alt="{{ thumb.title }}" /></a>
					{% endfor %}
				</p>					
				
			{% endblock sidebar %}
			<!-- /sidebar -->				
			</div>		
			
		<!-- /content -->	
		</div>				
	<!-- /content-wrap -->	
	</div>	
<!-- /wrap -->
</div>

<!-- footer -->	
<div id="footer">	

	<!-- footer-outer -->	
	<div id="footer-outer" class="clear"><div id="footer-wrap">
	
		<div class="col-a">
				
			<h3>Contact Info</h3>
			
			<p>
			<strong>Phone: </strong>+1234567<br/>
			<strong>Fax: </strong>+123456789
			</p>
			
			<p><strong>Address: </strong>123 Put Your Address Here</p>
				
			<p><strong>E-mail: </strong>me@jungleland.com</p>
			<p>Want more info - go to our <a href="#">contact page</a></p>			
			
			<h3>Follow Us</h3>
			
			<div class="footer-list">
				<ul>				
					<li><a href="index.html" class="rssfeed">RSS Feed</a></li>
					<li><a href="index.html" class="email">Email</a></li>
					<li><a href="index.html" class="twitter">Twitter</a></li>									
				</ul>
			</div>					
				
		</div>
		
		<div class="col-a">			
			
			<h3>Site Links</h3>
			
			<div class="footer-list">
				<ul>				
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html">Style Demo</a></li>
					<li><a href="index.html">Blog</a></li>
					<li><a href="index.html">Archive</a></li>
					<li><a href="index.html">About</a></li>		
					<li><a href="index.html">Template Info</a></li>		
					<li><a href="index.html">Site Map</a></li>					
				</ul>
			</div>					
				
		</div>
		
		<div class="col-a">
		
			<h3>Web Resource</h3>
			
			<p>Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
			posuere nunc justo tempus leo. </p>
			
			<div class="footer-list">
				<ul>				
					<li><a href="http://net.tutsplus.com/">NetTuts</a></li>
					<li><a href="http://www.smashingmagazine.com/">Smashing Magazine</a></li>
					<li><a href="http://psd.tutsplus.com/">PSDTuts</a></li>
					<li><a href="http://www.tutorial9.net/">Tutorial9</a></li>
					<li><a href="http://www.webdesignerwall.com/">Web Designer Wall</a></li>		
					<li><a href="http://bestwebgallery.com/">Best Web Gallery</a></li>		
					<li><a href="http://webcreme.com/">Web Creme</a></li>	
					<li><a href="http://cssmania.com/">CSS Mania</a></li>	
				</ul>
			</div>			
				
		</div>		
	
		<div class="col-b">
		
			<h3>About</h3>			
			
			<p>
			<a href="index.html"><img src="images/gravatar.jpg" width="40" height="40" alt="firefox" class="float-left" /></a>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
			posuere nunc justo tempus leo. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. <a href="index.html">Learn more...</a>
			</p>			
			
		</div>		
		
		<div class="fix"></div>
		
		<!-- footer-bottom -->		
		<div id="footer-bottom">
	
			<div class="bottom-left">
				<p>
				&copy; 2010 <strong>Copyright Brice Leroy</strong>&nbsp; &nbsp; &nbsp;
				Design by: <a href="http://www.styleshout.com/">styleshout</a> 			
				</p>
			</div>		
	
			<div class="bottom-right">
				<p>		
					<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   		<a href="http://validator.w3.org/check/referer">XHTML</a>	|			
					<a href="index.html">Home</a> |
					<strong><a href="#top" class="back-to-top">Back to Top</a></strong>								
				</p>
			</div>

		<!-- /footer-bottom -->		
		</div>
	
	<!-- /footer-outer -->		
	</div></div>		

<!-- /footer -->
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6379814-5");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
