{% extends 'base.html' %}

{% load thumbnail %}
{% load tagging_tags %}

{% block featured %}
{% if featured %}
<!-- featured -->		
<div id="featured">			

    <div id="featured-block" class="clear">
        
        <div id="featured-ribbon"></div>	
            
        <a name="TemplateInfo"></a>
        
        <div class="image-block">
          <a href="{{ featured.article.get_absolute_url }}" title="">
          {% thumbnail featured.article.picture.file 350x250 crop upscale as thumb %}
          <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"  alt="featured" />
          </a>
        </div>			
        
        <div class="text-block">
        
            <h2><a href="{{ featured.article.get_absolute_url }}">{{ featured.article.title }}</a></h2>
        
            <p class="post-info">Posted by <a href="{{ featured.article.get_absolute_url }}">{{ featured.article.author }}</a> | Filed under 
            {% tags_for_object featured.article as tags %}
                {% for tag in tags %} <a href="#">{{tag}}</a> {% if not forloop.last %}, {% endif%}
            {% endfor %}
            </p>
            
            <p>{{ featured.article.preview|safe }}
            </p>
            
            <p>Good luck and I hope you find my free templates useful!</p>
        
            <p><a href="{{ featured.article.get_absolute_url }}" class="more-link">Read More</a></p>				
                            
        </div>				
    
    </div>		

<!-- /featured -->
</div>	
{% endif %}
{% endblock %}

			{% block main %}
		
				<h3>Recent Articles</h3>
				{% for article in articles %}
				<div class="block {% cycle "odd" "even" %}">
					<a title="" href="{{ article.get_absolute_url }}">
                    {% thumbnail article.picture.file 240x100 crop upscale as thumb %}
                    <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"  alt="featured" />
                    </a>
				
					<div class="blk-top">
					
						<h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>	
						<p><span class="datetime">{{ article.modification_date|date:"F d, Y" }}</span><a href="{{ featured.article.get_absolute_url }}#comments" class="comment">{{ article.comments.count }} Comment{{ article.comments.count|pluralize }}</a></p>
						
					</div>						
					
					<div class="blk-content">
						
						<p>
						{{ article.preview|safe }}
						</p>					
								
						<p><a class="more" href="{{ article.get_absolute_url }}">continue reading &raquo;</a></p>
					
					</div>
				
				</div>
				{% cycle " " "<div class=\"fix\"></div>" %}		
				{% endfor %}				
			
		    {% endblock main %}
