{% extends "base.html" %}

{% load thumbnail %}
{% load tagging_tags %}

{% block title%}{{ block.super }}: Archives{% endblock title %}

{% block main %}
				<h2><a href="index.html">Articles Archives</a></h2>
					
					<div class="navigation clear">
                    {% if articles.has_next %}
						<div><a href="?{{url_parameters}}&page={{ articles.next_page_number }}" >&laquo; Older Entries </a></div>												
			        {% endif %}
                    {% if articles.has_previous %}
						<div><a href="?{{url_parameters}}&page={{ articles.previous_page_number }}" >Newer Entries &raquo;</a></div>
			        {% endif %}
					</div>
					
					<ul class="archive">
					{% for article in articles.object_list %}
						<li>
							<div class="post-title"><strong><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></strong></div>
                            {% tags_for_object article as tags %}
                            

							<div class="post-details">Posted on <a href="{{ article.get_absolute_url }}">{{ article.modification_date|date:"F d, Y" }}</a> | Filed under {% for tag in tags %} <a href="#">{{tag}}</a> {% if not forloop.last %}, {% endif%}{% endfor %}</div>
						</li>
				    {% endfor %}
					</ul>			
					
					<div class="navigation clear">						
                    {% if articles.has_next %}
						<div><a href="?{{url_parameters}}&page={{ articles.next_page_number }}" >&laquo; Older Entries </a></div>												
			        {% endif %}
                    {% if articles.has_previous %}
						<div><a href="?{{url_parameters}}&page={{ articles.previous_page_number }}" >Newer Entries &raquo;</a></div>
			        {% endif %}
					</div>		

{% endblock %}
