{% extends "base.html" %}

{% load thumbnail %}
{% load tagging_tags %}
{% load gravatar %}
{% block title%}{{ article.title }}{% endblock title %}

{% block main %}
    <div class="post">
			
					<h2>{{ article.title }}</h2>
					<p class="post-info">Posted by <a href="{% url about_me %}">{{ article.author }}</a> | Filed under 
                    {% tags_for_object article as tags %}
                        {% for tag in tags %} <a href="#">{{tag}}</a> {% if not forloop.last %}, {% endif%}{% endfor %}
                    </p>

				
					<p class="postmeta">		
						<a href="#comments" class="comments">Comment{{ article.comments.count|pluralize }} ({{ article.comments.count }})</a> |		
						<span class="date">{{ article.creation_date|date:"F d, Y" }}</span> 
                        {% if user.is_staff %}
                        |		
						<a href="{% url admin:article_article_change article.id %}" class="edit">Edit</a> 
                        {% endif %}
					</p>
					
					<div class="image-section">
                    {% thumbnail article.picture.file 530x200 crop upscale as thumb %}
                    <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"  alt="featured" />
                    <div style="display: block;text-align:right;font-style:italic;">photo: <a href="{{ article.picture.get_absolute_url }}">{{ article.picture.title }}</a></div>
         		</div>					
					
					{{ article.body|safe }}
					
					<p class="tags">	
						<strong>Tagged : </strong> 
						{% for tag in tags %} <a href="#">{{tag}}</a> {% if not forloop.last %}, {% endif%}{% endfor %}
					</p>
				
			
					<h3 id="comments">{{ article.comments.count }} Response{{ article.comments.count|pluralize }}</h3>
					
					<a name="comments" />
					<ol class="commentlist">
					{% for comment in article.comments.all %}
						<li class="depth-1">
                            <a name="comment_{{comment.id}}" />
							<div class="comment-info">	
								<img alt="" src="{% gravatar_for_email comment.email_address 40 %}" class="avatar" height="40" width="40" />																																					
								<cite>										
									<a href="#">{{ comment.name }}</a> Says: <br />				
									<span class="comment-data"><a href="#comment-63" title="">{{ comment.creation_date|date:"F d, Y at f a" }}</a></span>
								</cite>	
							</div>							
							<div class="comment-text">
								<p>{{ comment.body }}</p>
								
								<div class="reply">
									<a rel="nofollow" class="comment-reply-link" href="#reply" onclick="document.getElementById('id_name').focus();">Reply</a>
		 						</div>								
							</div>		
					    </li>
					{% endfor %}
					</ol>
					<!-- respond -->
					<div id="respond">
					
 						<h3>Leave a Reply</h3>				
						<form action="#reply" method="post" id="commentform">
						    <a name="reply"></a>
							{{ form.as_p }}	
							<input type="hidden" value="{{ article.id }}" name="article_id" /> 
							<p class="no-border">
								<input class="button" type="submit" value="Submit Comment" tabindex="5" />         		
							</p>
					
						</form>	
					
					<!-- /respond -->
					</div>
				
				<!-- /post -->	
				</div>	
{% endblock main %}
