{% extends "base.html" %}

{% load thumbnail %}
{% load tagging_tags %}

{% block main %}
    <div class="post">
			
					<h2><a href="index.html">{{ article.title }}</a></h2>
					
					<p class="post-info">Posted by <a href="index.html">{{ article.author }}</a> | Filed under 
                    {% tags_for_object article as tags %}
                        {% for tag in tags %} <a href="#">{{tag}}</a> {% if not forloop.last %}, {% endif%}{% endfor %}
                    </p>

				
					<div class="image-section">
                    {% thumbnail article.picture.file 530x200 crop upscale as thumb %}
                    <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"  alt="featured" />
         		</div>					
					
					{{ article.body|safe }}
					
					<p class="tags">	
						<strong>Tagged : </strong> 
						{% for tag in tags %} <a href="#">{{tag}}</a> {% if not forloop.last %}, {% endif%}{% endfor %}
					</p>
				
					<p class="postmeta">		
						<a href="index.html" class="comments">Comment{{ article.comments.count|pluralize }} ({{ article.comments.count }})</a> |		
						<span class="date">August 27, 2009</span> |		
						<a href="index.html" class="edit">Edit</a> 
					</p>
			
					<h3 id="comments">{{ article.comments.count }} Response{{ article.comments.count|pluralize }}</h3>
					
					<ol class="commentlist">

						<li class="depth-1">	
								
							<div class="comment-info">			
								<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																																					
								<cite>										
									<a href="index.html">Erwin</a> Says: <br />				
									<span class="comment-data"><a href="#comment-63" title="">August 27th, 2009 at 8:08 am</a></span>
								</cite>	
							</div>							
							
							<div class="comment-text">
								<p>Comments are great!</p>
								
								<div class="reply">
									<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 						</div>								
							</div>		
							
							<ul class="children">
								
								<li class="depth-2">	
															
									<div class="comment-info">	
										<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																																							
										<cite>											
											<a href="index.html">Erwin</a> Says: <br />				
											<span class="comment-data"><a href="#" title="">August 27th, 2009 at 8:15 am</a></span>
										</cite>	
									</div>	
							
									<div class="comment-text">
										<p>And here is a threaded comment.</p>								
										<div class="reply">
											<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 								</div>								
									</div>									
								
								</li>
								
								<li class="depth-2">	
															
									<div class="comment-info">			
										<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																							
										<cite>										
											<a href="index.html">Erwin</a> Says: <br />				
											<span class="comment-data"><a href="#" title="">August 27th, 2009 at 8:15 am</a></span>
										</cite>	
									</div>	
							
									<div class="comment-text">
										<p>And here is another threaded comment.</p>
								
										<div class="reply">
											<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 								</div>								
									</div>	
											
									<ul class="children">
								
										<li class="depth-3">																
											
											<div class="comment-info">			
												<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																							
												<cite>										
													<a href="index.html">Erwin</a> Says: <br />				
													<span class="comment-data"><a href="#" title="">August 27th, 2009 at 8:20 am</a></span>
												</cite>	
											</div>	
							
											<div class="comment-text">
												<p>Threaded comments are cool!</p>
								
												<div class="reply">
													<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 										</div>								
											</div>	
																	
										</li>	
											
									</ul>							
								
								</li>							
							
							</ul>
											
						</li>

						<li class="thread-alt depth-1">				
							
							<div class="comment-info">			
								<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																							
								<cite>										
									<a href="index.html">Erwin</a> Says: <br />				
									<span class="comment-data"><a href="#comment-63" title="">August 27th, 2009 at 8:30 am</a></span>
								</cite>	
							</div>	
				
							<div class="comment-text">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. 
								Suspendisse bibendum.</p>
								
								<div class="reply">
									<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 						</div>								
							</div>	
							
							<ul class="children">
								
								<li class="depth-2">																
											
									<div class="comment-info">			
										<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																							
										<cite>										
											<a href="index.html">Erwin</a> Says: <br />				
											<span class="comment-data"><a href="#" title="">August 27th, 2009 at 8:35 am</a></span>
										</cite>	
									</div>
							
									<div class="comment-text">
										<p>Donec libero. Suspendisse bibendum.</p>
							
										<div class="reply">
											<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 								</div>								
									</div>	
																	
								</li>	
											
							</ul>								
							
						</li>
			
						<li class="depth-1">
										
							<div class="comment-info">		
								<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																																
								<cite>											
									<a href="index.html">Erwin</a> Says: <br />				
									<span class="comment-data"><a href="#comment-63" title="">August 27th, 2009 at 9:08 am</a></span>
								</cite>	
							</div>
					
							<div class="comment-text">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
								Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
								posuere nunc justo tempus leo.</p>
								
								<div class="reply">
									<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 						</div>
																
							</div>							
							
							<ul class="children">
								
								<li class="depth-2">	
															
									<div class="comment-info">			
										<img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" />																							
										<cite>										
											<a href="index.html">Erwin</a> Says: <br />				
											<span class="comment-data"><a href="#comment-63" title="">August 27th, 2009 at 9:18 am</a> </span>
										</cite>	
									</div>
							
									<div class="comment-text">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>								
										
										<div class="reply">
											<a rel="nofollow" class="comment-reply-link" href="index.html">Reply</a>
		 								</div>								
									</div>	
								
								</li>
							
							</ul>
							
						</li>
			
					</ol>
					
					<!-- respond -->
					<div id="respond">
					
 						<h3>Leave a Reply</h3>				
			
						<form action="index.html" method="post" id="commentform">		
								
							<p>	
								<label for="name">Name (required)</label><br />
								<input id="name" name="name" value="Your Name" type="text" tabindex="1" />
							</p>
			
							<p>
								<label for="email">Email Address (required)</label><br />
								<input id="email" name="email" value="Your Email" type="text" tabindex="2" />
							</p>
				
							<p>
								<label for="website">Website</label><br />
								<input id="website" name="website" value="Your Website" type="text" tabindex="3" />
							</p>
					
							<p>
								<label for="message">Your Message</label><br />
								<textarea id="message" name="message" rows="10" cols="20" tabindex="4"></textarea>
							</p>	
			
							<p class="no-border">
								<input class="button" type="submit" value="Submit Comment" tabindex="5" />         		
							</p>
					
						</form>	
					
					<!-- /respond -->
					</div>
				
				<!-- /post -->	
				</div>	
{% endblock main %}